#

# <center> IA - Machine Learning Challenge Solution

## Imports

In [1]:
# Imports
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

---

## Data

In [2]:
# load data
dados_vendas = {
    'mes': ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    'vendas': [2000, 2200, 2300, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300]
}

df = pd.DataFrame.from_dict(dados_vendas)

In [3]:
# View 
df

          mes  vendas
0     Janeiro    2000
1   Fevereiro    2200
2       Março    2300
3       Abril    2500
4        Maio    2600
5       Junho    2700
6       Julho    2800
7      Agosto    2900
8    Setembro    3000
9     Outubro    3100
10   Novembro    3200
11   Dezembro    3300

---

# Split data

In [4]:
# Import
from sklearn.model_selection import train_test_split

In [5]:
# Add mount number
df['mes_numero'] = range(1,13)

In [6]:
# Define X and y
X, y = df.drop(columns=['mes', 'vendas']), df.vendas

# Train test data
X_train, X_test, y_train,  y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

In [7]:
from sklearn.preprocessing import MinMaxScaler

# Standard scaler for input features
train_scaler = MinMaxScaler().fit(X_train)

train_std = train_scaler.transform(X_train)
test_std = train_scaler.transform(X_test)  # Use the same scaler for test data

---

# Base Line Models

## Linear Regression

In [8]:
# Imports
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [9]:
# Define model
lr = LinearRegression()

# Fit Model
lr.fit(X_train, y_train)

# Predictions
y_pred = lr.predict(X_test)

# Accuracy
r2 = r2_score(y_test, y_pred)
print(f'r2: {round(r2*100, 2)}%')

r2: 95.9%

In [10]:
data = {'y_test': y_test, 'y_pred':y_pred}
pd.DataFrame(data)

    y_test       y_pred
7     2900  2895.636792
8     3000  3011.320755
11    3300  3358.372642

---

## Decision Tree

In [11]:
# Imports
from sklearn.tree import DecisionTreeRegressor

In [12]:
# Define the model
dt = DecisionTreeRegressor()

# Fit the model
dt.fit(X_train, y_train)

# Predictions
y_pred = dt.predict(X_test)

# Accuracy
r2 = r2_score(y_test, y_pred)
print(f'r2: {round(r2*100, 2)}%')

r2: 65.38%

In [13]:
data = {'y_test': y_test, 'y_pred':y_pred}
pd.DataFrame(data)

    y_test  y_pred
7     2900  2800.0
8     3000  3100.0
11    3300  3200.0

---